<%- include('../shared/header.ejs') %>
  <main>
    <p>
      This website is intended to be used as a search tool to help you find a charity 
      that you'd like more information on.
    </p>
  </main>
</body>
</html>